<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
    ></script>
    <title>Document</title>
  </head>

  <body>
    <div class="container">
      <form action="/tinhtoan" method="POST">
        <input
          style="margin-top: 20px;"
          type="number"
          step="0.1"
          name="soA"
          placeholder="So A"
          required
        />
        <input
          style="margin-top: 20px;"
          type="number"
          step="0.1"
          name="soB"
          placeholder="So B"
          required
        />
        <label for="operator">Phép tính:</label>
        <select name="operator" id="operator">
          <option value="cong">+</option>
          <option value="tru">-</option>
          <option value="nhan">*</option>
          <option value="chia">/</option>
        </select>
        <input class="subscribe-button" type="submit" value="Tinh Toan" />

        <h2>Ket qua la: </h2>

        <input name="kq" value="" />
      </form>
    </div>
  </body>

</html>